<!-- Side Bar -->
<div class="large-4 small-12 columns">

  <img {{bind-attr src="image"}}>

  <div class="hide-for-small panel">
    <h3>{{name}}</h3>
    <h5 class="subheader">{{description}}</h5>
  </div>

  <a href="#">
    <div class="panel callout radius">
      <h6>{{controllers.cart.length}}  items in your cart</h6>
    </div>
  </a>

</div>
<!-- End Side Bar -->

{{outlet}}
